@import 'styles/utils.scss';

.search-form-wrapper {
  display:flex;
  width:100%;
  padding: 1.5rem 4rem;
  .logo-lol {
    position:absolute;
    width:32px;
    height:32px;
    left:15px;
    top:1.5rem;
    background-image:url("https://opgg-static.akamaized.net/images/logo/logo-lol.png");
  }
  input {
    flex: 1;
    font-family: inherit;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid $oc-gray-8;
    color:$oc-gray-8;
    font-weight: 300;
    text-align:center;
    &:focus {
        border-bottom: 1px solid $oc-gray-9;
    }
    
  }
  input::-webkit-input-placeholder {
    color: $oc-gray-3;
    text-align:center;
  }
}


