.user-profile-wrapper {
  max-width:800px;
  margin:0 auto;
  padding:3rem 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:purple;

  .user-profile-img-wrapper {
    flex-basis:150px;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    img {
      width:140px;
      display:flex;
      position:absolute;
    }
    img:first-child {
      width:120px;
    }
    span {
      display:flex;
      position:absolute;
      align-items: center;
      justify-content: center;
      top:46px;
      width:44px;
      height:24px;
      background:url(http://opgg-static.akamaized.net/images/site/summoner/bg-levelbox.png) no-repeat;
      background-size:auto 100%;
      color:#eabd56;
      text-align: center;
    }
  }
  
  .user-profile-league-section {
    // flex-grow:1;
    background:skyblue;
    color:black;
    .user-profile-leagueName {
      font-size:1rem;
    }
  }
}
